body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url('../images/mapbackground.jpg');

    background-repeat: no-repeat;
    background-size: cover;
}


p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: rgba(243, 233, 233, 0.829);
    color: black;
    border: 2px ridge black;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(145, 96, 5, 0.884);
    border-radius: 15px;
    border: ridge 6px black;
    height: 750px;
    width: 550px;
}


.header {
    padding-bottom: 50px;
    font-size: 30px;
}


.app-title {
    font-size: 4rem;
    background-color:  #e0e4ffb7;
    color: black;
    padding: 0 10px;
    display: inline-block;
    border-radius: 0.3rem;
    box-shadow: 6px 5px  #6f6866;
    }


.description {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    width: 70%;
    text-align: center;
}


.inputs {
    display: flex;
    justify-content: center;
    text-align: center;
}


.search {
    padding-top: 80px;
}


.form-input {
    border-radius: 5px;
    background-color: rgba(243, 233, 233, 0.829) ;
    width: 250px;
    height: auto;
    border: ridge 2px black;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button:hover {


    background-color: rgba(145, 96, 5, 0.082);
}
