:root {
    --primary: #e0e4ffb7;
    --background: rgba(145, 96, 5, 0.884);
    --tertiary: #e0e4ff34;
    --light-dark: #6f6866;
    --border-radius: 0.3rem;
}


header{
    height: 150px;
    border: 6px ridge black;
    text-align: center;
    background-color: rgba(145, 96, 5, 0.884);
    border-radius: 15px;
}
body{
    background-image:url('../images/mapbackground.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    background-color: rgba(243, 233, 233, 0.829);
    color: black;
    border: 2px ridge black;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-input {
    border-radius: 5px;
    background-color: rgba(243, 233, 233, 0.829) ;
    width: 270px;
    height: auto;
    border: ridge 2px black;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    text-align: center;
    color: var(--primary);
  }
 
.app-title {
  font-size: 4rem;
  background-color: var(--primary);
  color: black;
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  }


.sidebar{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 320px;
  height: auto;
  background-color: var(--primary);
  border: 5px ridge black;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6px;
  padding-top: 6px;
  margin-right: 20px;
}

.line {
    border: 1px dashed black;
    width: 290px;
}

p{
  font-size: 20px;
  margin: 5px;
}


.resultContent{
    text-align: center;
    margin-top: 10px;
    height: auto;
    background-color:var(--background);
    border: 5px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   /* margin: 40px auto;*/
  
  }

.dataInfo1{
    background-color: var(--background);
    height:auto;
    padding: 10px;

}

.dataInfo2{
    background-color: var(--background);
    height: auto;
    padding: 10px;

}

.dataInfo3{
    height: auto;
    background-color: var(--background);
    padding: 10px;
}

.dataInfo4{
    height: auto;
    background-color: var(--background);
    padding: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
}

button:hover{
    background-color: var(--tertiary);
    color: rgb(187, 20, 20);
}